:root {
    --primary: #e99401;
    --black: #262626;
    --white: #FFF;
    --main-font: 'Outfit', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 2rem;
    font-family: var(--main-font);
    line-height: 1.7;
}

img {
    max-width: 100%;
    height: auto;
}

[class*="container"],
main {
    width: min(95%, 120rem);
    margin: 3rem auto;
}

[class*="heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary);
    margin: 5rem 0;
}

/** Header **/

.header {
    background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url(/img/header.jpg);
    padding: 6rem 0;
    background-size: cover;
    background-position: left center;
}

.bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:768px) {
    .bar {
        flex-direction: row;
        justify-content: space-between;
    }
}

.header .logo {
    width: 25rem;
}

.header .navigation {
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
}

@media(min-width:768px) {
    .header .navigation {
        margin-top: 0;
    }
}

.header .navigation__link {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5rem;
    position: relative;
}

@media(min-width:768px) {
    .header .navigation__link::before {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        color: transparent;
        position: absolute;
        left: 50%;
        bottom: 0;
        transition: all 0.4s ease;
    }

    .header .navigation__link.active::before,
    .header .navigation__link:hover::before {
        cursor: pointer;
        background-color: var(--white);
        width: 100%;
        left: 0;
    }
}

/** Footer **/

.footer {
    background-color: var(--black);
    padding: 5rem 0;
    margin-top: 5rem;
}

@media(min-width:768px) {
    .footer .content {
        display: flex;
        justify-content: space-between;
    }
}

.footer .navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media(min-width:768px) {
    .footer .navigation {
        flex-direction: row;
        gap: 2rem
    }
}

.footer .navigation__link {
    color: var(--white);
    text-decoration: none;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}

.footer .copyright {
    text-align: center;
    color: var(--white);
    margin: 4rem 0 0 0;
}

@media(min-width:768px) {
    .footer .copyright {
        margin: 0;
    }
}

.error,
.error__link {
    text-align: center;
    margin-top: 5rem;
    font-size: 2.4rem;
}

.error__link {
    display: block;
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
    transition: background-color .3s ease-in, color .3s ease-in;
}

.error__link:hover {
    background-color: var(--primary);
    color: var(--black);
}

.link {
    display: block;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-weight: 700;
    border-radius: 1rem;
    transition: color .3s ease-in, background-color .3s ease-in;
}

.link:hover {
    background-color: var(--primary);
    color: var(--black);
}